{{ if site.Data.homepage.contact.enable }}
{{ with site.Data.homepage.contact }}
<section id="contact-us">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h1 class=" heading wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">{{ .title | markdownify }}</h1>
					<!--
					<h3 class=" heading wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">{{ .subtitle | markdownify }}</h3>

					<form action="{{ .form_action }}" method="POST">
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
							<input type="email" name="email" class="form-control" placeholder="Write your email address here...">
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
							<input type="text" name="name" class="form-control" placeholder="Write your full name here...">
						</div>
						<div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1000ms">
							<textarea class="form-control" rows="3" name="message" placeholder="Write your message here..."></textarea>
						</div>
						<button type="submit" value="send" class="btn btn-default wow bounceIn" data-wow-duration="500ms" data-wow-delay="1300ms"
						role="button">send your message</button>
					</form>
					 -->
					 <center>
						 <iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=2&bgcolor=%23ffffff&ctz=Asia%2FTokyo&showTitle=1&title=%E3%82%B3%E3%83%B3%E3%83%8B%E3%83%A3%E3%82%AF%E3%83%A4%E7%95%91(C)%E3%81%A8%E3%83%9F%E3%83%A7%E3%82%A6%E3%83%AC%E3%83%B3%E3%82%B8%E3%83%A3%E3%83%BC%E3%81%AE%E4%BA%88%E5%AE%9A&showNav=1&showDate=0&showPrint=0&showTabs=1&showCalendars=0&showTz=0&src=Y29ubnlha3V5YUBnbWFpbC5jb20&src=YW90azhnaDZjcHZob3FjYjVzdHEyYjg1dTRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&src=amEuamFwYW5lc2UjaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23039BE5&color=%237CB342&color=%230B8043" style="border-width:0" width="600" height="400" frameborder="0" scrolling="no"></iframe>
					 </center>
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .container close -->
</section><!-- #contact-us close -->
{{end}}
{{end}}
